html, body {
  margin: 0;
  padding: 0;
}
.tab {
  overflow: hidden;
  display: block;
  border: 1px solid #0076CE;
  background-color: #0076CE;
}

.button {
  background-color: inherit;
  font-family: Helvetica;
  float: right;
  border: none;
  outline: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-decoration: none;
}


.button:hover {
  background-color: #8BBEE8;
}

.button.active {
  background-color: #8BBEE8;

}

#user-login{
  text-align: right;
}

.search-container {
  float: right;
  justify-content: center;
  margin-right: 40px;
    display: block;
  }

.input[type=text] {
  padding: 6px;
  margin-top: 8px;
  width: 100px;
  font-size: 17px;
  border: none;
}

.searchButton {
  float: right;
  padding: 0px 20px 20px 0px;
  margin-top: 8px;
  height: 10px;
  width: 10px;
  margin-right: 45px;
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.searchButton:hover {
  background: #ccc;
}
