html, body {
  margin: 0;
  padding: 0;
}
.tab {
  overflow: hidden;
  display: block;
  height: 125px;
  border: 1px solid #0076CE;
  background-color: #0076CE;
  overflow: visible;
  position: relative;
  z-index: 0;

}

.button-tab {
  background-color: inherit;
  font-family: Helvetica;
  border: none;
  outline: none;
  color:white;
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 5px;
  transition: 0.3s;
  text-decoration: none;
  width: 100%;
}

.button {
  background-color: inherit;
  font-family: Helvetica;
  float: right;
  border: none;
  outline: none;
  color:black;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-decoration: none;
  width: 200px;
}

.buttonNavBar {
  background-color: inherit;
  font-family: Helvetica;
  color:black;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-decoration: none;
  width: 25%;
}
.button-single {
  background-color: inherit;
  font-family: Helvetica;
  color:black;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  text-decoration: none;
  width: 100%;
}

.button-single:hover {
  background-color: #8BBEE8;
}

.welcome{
  margin-top: 25px;
  margin-left: 10px;
  font-family: Helvetica;
  color: #ffffff;
  width: 20%;
}

.button:hover {
  background-color: #8BBEE8;
}

.button.active {
  background-color: #8BBEE8;

}
img{
  float: left;
}

#user-login{
  text-align: right;
}
.w3-sidebar{
  height:100%;
  width:100px;
  border: 4px rgb(36, 36, 36) solid;
  background-color:#CCC;
  z-index:1;
  margin-left: 25px;
  margin-top: 10px;
  overflow:scroll;
  position: fixed;
  text-align: center;

}
.busqueda {
  float: left;
  justify-content: center;
  margin-left: 100px;
  width: 600px;
  height: 50px;
  position: relative;
  z-index: 1;
  }

input {
  padding: 6px;
  margin-top: 8px;
  width: 600px;
  height: 50px;
  font-size: 17px;
  border: none;
}

.searchButton {
  padding: 0px 20px 20px 0px;
  margin-left: 5px;
  text-align: center;
  background: #ddd;
  font-size: 45px;
  border: none;
  color: white;
  border-radius: 6px;

  cursor: pointer;
}

.searchButton:hover {
  background: #8BBEE8;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.searchButtonContainer {
  height: 100px;
  width: 100px;
}

.layoutContainer {
  display: flex;
  background-color: #0076CE;
  overflow: visible;
  justify-content: space-around;
  align-items: center;
}

.layoutButtonsContainer {
  display: flex;
}

.logoContainer > a > img{
  width: 250px;
}

.page-width {
  width: 100%;
}
