h2{
  font-size: 30pxx;
  font-weight: bold;
  color: #000000;
  font-family: Helvetica;
  text-align: center;
  text-transform: uppercase;
}

#offers-list {
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
    th {
      font-size: 19px;
      font-weight: bold;
      font-family: Helvetica;
      text-transform: uppercase;
      height: 50;
      color: #FFFFFF;
      text-align: center;
      border-left: 2px solid #0076CE;
      background-color: #0076CE;
    }
  
    td {
      background-color: #FFFFFF;
      border: 1px solid rgb(0, 118, 206);
      padding: 30px;
    }
}