h2{
  font-size: 30pxx;
  font-weight: bold;
  color: #000000;
  font-family: Helvetica;
  text-align: center;
  text-transform: uppercase;
}

#offers-list {
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
    th {
      font-size: 19px;
      font-weight: bold;
      font-family: Helvetica;
      text-transform: uppercase;
      height: 50;
      color: #FFFFFF;
      text-align: center;
      border-left: 2px solid #0076CE;
      background-color: #0076CE;
    }
  
    td {
      background-color: #FFFFFF;
      border: 1px solid rgb(0, 118, 206);
      padding: 30px;
    }
}

.trade-box {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin-left: 20%;
}

.box-user{
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-img{
  margin-right: 10px;
}

.owner {
  text-align: center;
}

.selector input[type=checkbox] {
  transform: scale(2);
  margin-right: 30px;
}

.final-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 100px;
}

.info-input {
  width: 550px;
}

.aux-box {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding-right: 100px;
}
