h3{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  font-family: Helvetica;
  text-align: left;
  text-transform: uppercase;
  margin-left: 10px;
}

column {
  display: inline-block;
  
}
scroll-column {
  display: inline-block;
  overflow: scroll;
  width: 700px;
  height: 180px;
  
}

row {
  display: block;
  flex-wrap: wrap;
  background: whitesmoke;
  border-color: white;
  border-style: solid;
  border-width: 5px;

}

info {
  width: 180px;
  background: whitesmoke;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  float: left;
}
info-chat {
  width: 700px;
  background: whitesmoke;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  float: left;
}


.text {
  margin-top: 10px;
  font-size: 19px;
  margin-bottom: 10px;
  background: whitesmoke;
  font-family: Helvetica;
}

.name {
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 10px;
  background: whitesmoke;
  font-weight: bold;
  font-family: Helvetica;
}

text {
  font-size: 19px;
  margin-right: 10px;
  font-family: Helvetica;
}

a{
  font-size: 19px;
  margin-right: 10px;
  font-family: Helvetica;
}
